/* Estilo geral da página */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha o conteúdo vertical e horizontalmente */
    height: 100vh;
    background: linear-gradient(45deg, #000a1f, #0a142d); /* Fundo mais escuro e com menos saturação */
    color: white;
    overflow: hidden;
    flex-direction: column;
}

/* Animação de fundo */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000a1f; /* Fundo ainda mais escuro */
    animation: gradientBackground 5s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background: #000a1f;
    }

    50% {
        background: #0a142d;
    }

    100% {
        background: #000a1f;
    }
}

/* Logo */
.logo {
    position: absolute; /* Logo fixa no topo */
    top: 200px; /* Distância de 200px do topo */
    left: 50%;
    transform: translateX(-50%); /* Centraliza a logo horizontalmente */
}

.logo img {
    width: 150px; /* Ajusta o tamanho da logo */
    height: auto;
}

/* Conteúdo da página */
.content {
    text-align: center;
    z-index: 10;
    margin-top: 120px; /* Distância do topo para centralizar o conteúdo abaixo da logo */
}

/* Frase */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.3;
}

.highlight {
    font-weight: bold;
    color: #dcbe66; /* Dourado */
}

.regular {
    font-weight: normal;
    font-size: 1.5rem;
}

/* Redes sociais */
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 15px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

/* Rodapé */
footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
}

footer p {
    margin: 0;
}
